html, body {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    background: radial-gradient(circle, #edaeee 0%, #6284ff 100%);
}


a, a:link {
    color: #000;
    text-decoration: none;
}
article {
    margin: 1.5rem;
}
h4 {
    font-size: 2.8rem;
    font-family: 'Federo', sans-serif;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
span {
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
}


.bottone {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0.7rem 0;
    width: 100%;
}

.bottone:hover, .bottone:focus {
    color: #ffffff;
    border: 2px solid #fff;
    transform: translateY(-0.25em);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/*footer animation*/
.link:hover, .link:focus {
    transform: translateY(-0.25em);
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .bottone {
      display: block;
      width: 40%;
      margin: 0.8rem auto;
  }
}