@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: rgb(174,216,238);
    background: radial-gradient(circle, rgba(174,216,238,1) 0%, rgba(98,124,255,1) 100%);
}

a, a:link, a:visited, a:active, a:focus {
    color: #000 !important;
    text-decoration: none;
}
a:hover {
    color: #fff !important;
}
article {
    margin: 1.5rem;
}
h4 {
    font-size: 2.5rem;
    font-family: 'Federo', sans-serif;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}



.bottone {
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0.7rem 0;
    width: 100%;
}

.bottone:hover, .bottone:focus {
    color: #ffffff;
    border: 2px solid #fff;
    transform: translateY(-0.25em);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/*footer animation*/
.social:hover, .social:focus {
    transform: translateY(-0.25em);
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .bottone {
      display: block;
      width: 40%;
      margin: 0.8rem auto;
      font-size: 1.4rem;
  }
}